@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
   font-family: 'Mechanica';
   src: url('./assets/fonts/ExMechanica.otf');
}
@font-face {
   font-family: 'AsherPunk';
   src: url('./assets/fonts/AsherPunk.ttf');
}

:root {
   --primary: #e99f1e;
   --secondary: #43badf;
   --bg-dark: #061122;
   --bg-light: #dcdbdb;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Mechanica', monospace, sans-serif;
   letter-spacing: 1.2px;
   color: #fff;
}

.dark {
   --font-primary: var(--primary);
   --font-secondary: var(--secondary);
   --bg-color: var(--bg-dark);
   --contrast: var(--bg-light);
   transition: background 550ms ease-in-out, color 1000ms ease-in-out;
}

body .dark {
   background: var(--bg-dark);
}

.light {
   --font-primary: var(--secondary);
   --font-secondary: var(--primary);
   --bg-color: var(--bg-light);
   --contrast: var(--bg-dark);
   transition: background 550ms ease-in-out, color 1000ms ease-in-out;
}

body .light {
   background: var(--bg-light);
}

/* ----------------scroll-bar---------------- */
::-webkit-scrollbar {
   width: 0.5rem;
}
::-webkit-scrollbar-track {
   background: none;
}
::-webkit-scrollbar-thumb {
   background: #43badf;
   border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
   background: #cf3284;
}
